<div class="global-container container">
  <div class="row">
    <% @user.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 350, width: 300, crop: :fill %>
    <% end %>
    <ul>
      <li> Ton âge: <%= @user.age %></li>
      <li> Ton prénom: <%= @user.first_name %> </li>
      <li> Ton nom: <%= @user.last_name %> </li>
      <li> Ton surnom: <%= @user.nickname %> </li>
    <ul>
  </div>

  <div class="row">
    <%= link_to "Retour", root_path, :class => "btn btn-primary" %>
  </div>
</div>

