
<ul id="slides">
  <% @users.each do |user| %>
  <div class="slide" data-id="<%=user.id%>">
      <li>
        <%= user.nickname %> 
          <% if user.photos.length > 0 %>
              <% user.photos.each do |photo| %>
                <%= link_to conversations_path(sender_id: current_user.id, recipient_id: user.id), method: "post" do %>
                  <%= cl_image_tag photo.key, height: 350, width: 300, crop: :fill %>
                <% end %>
              <% end %>
          <% end %>
        <% end%>
      </li>
  </div>
  <div class="row">
    <%= link_to "Retour", root_path, :class => "btn btn-primary" %>
  </div>
</ul>

<button class="controls" id="previous">"No"</button>
<button class="controls" id="next">"Yes"</button>


