<!DOCTYPE html>
<html>
  <head>
    <title>Martinder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  
    <!-- handle asset pipeline -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- handle bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

     <!-- handle webpack -->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    
    

  </head>
  
  <body>

    <ul class="hmenu">
      <%#= render 'layouts/navbar' %>
      <%= render 'devise/menu/registration_items' %>
      <%= render 'devise/menu/login_items' %>
    </ul>


  <div class="container">
    <%= yield %>
  </div>

  </body>
</html>
